<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EkzerInterface · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <h1>EKZER</h1>
      <nav>
       <div id="summary">
      <%= form_tag("/summary") do 
        [tag(:input, type: "submit", value: "Exercices en cours", class: "button button-outline")]
      end
      %>
      </div>
      <div id="referentiel">
      <%= form_tag("/referentiel") do
        [tag(:input, type: "submit", value: "Utiliser un référentiel", class: "button button-outline")]
      end %>
      </div>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <%= Drab.Client.run(@conn) %>
  </body>
</html>
