<h1>Tous les exercices en cours</h1>
</ul><%= for state <- @states do %>
    <li>
        <%= state.type%>, 
        <%= state.common_fields.field%>, 
        niveau: <%= state.common_fields.level%>, 
        progression: <%= state.common_fields.progression%>
    </li>
<% end %>
</ul>
<form action="/add/new_exercise/type" method="GET">
    <input type="submit" value="Nouvel Exercice">
</form>