<h1>Résumé de l'exercice</h1>
<ul>
    <li>Type: <%= @exercise.type %></li>
    <li>Niveau: <%= @exercise.common_fields.level %></li>
    <li>Progression: <%= @exercise.common_fields.progression %></li>
    <li>Domaine: <%= @exercise.common_fields.field %></li>
    <li>Consigne: <%= @exercise.common_fields.consigne %></li>
    <li>Objectifs: <%= Enum.join(@exercise.common_fields.objectives, " ; ") %></li>
    <li>Mots-Clefs: <%= Enum.join(@exercise.common_fields.keywords, " ; ") %></li>
    <li>Spécificité: <ul>
                    <%= for {f, val} <- @exercise.specific_fields do %>
                        <%= for {k, v} <- val do %>
                            <li><%= k <> " : " <> Enum.join(v, " ; ") %></li>
                        <% end %>
                    <% end %>
                    </ul>
    </li>
</ul>
<%= form_tag("/add/new_exercise/type") do
 [tag(:input, type: "submit", method: "GET", value: "NOUVEL EXERCICE" )]
 end %>