<h1>Résumé de l'exercice</h1>
<ul>
    <li>Type: <%= @exercise.type %></li>
    <li>Niveau: <%= @exercise.common_fields.level %></li>
    <li>Progression: <%= @exercise.common_fields.progression %></li>
    <li>Domaine: <%= @exercise.common_fields.field %></li>
    <li>Consigne: <%= @exercise.common_fields.consigne %></li>
    <li>Objectifs: <%= Enum.join(@exercise.common_fields.objectives, " ; ") %></li>
    <li>Mots-Clefs: <%= Enum.join(@exercise.common_fields.keywords, " ; ") %></li>
</ul>
<form action="/add/new_exercise/type" method="GET">
    <input type="submit" value="Nouvel Exercice">
</form>